# This file is a "template" of what your parameters.yml file should look like
parameters:
    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    database_host: 127.0.0.1
    database_port: 5234
    database_name: symfony
    database_user: postgres
    database_password: 1234
