<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Symbiose</title>
    </head>
    <body>
        <div class="container-narrow">
            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="https://github.com/sanpii/symbiose">Sources</a></li>
                </ul>
                <h3 class="muted">Symbiose</h3>
            </div>
            <hr />
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
